---

import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';


---

<Layout>
	<main>
		<h1 class="text-white">
			Hey, Soy Daniel <Badge>Disponible para trabajar</Badge> 
		</h1>
		<h2>
			"Soy un ingeniero en sistemas y ciberseguridad
			 con pasión por proteger el mundo digital y desarrollar soluciones backend seguras y escalables."
		</h2>
	</main>
</Layout>
