---
import SocialLinks from "./SocialLinks.astro"

const currentYear = new Date().getFullYear();
---

<footer id="contacto" class="opacity-80 w-full mx-auto container px-4 lg:max-w-4xl md:max-w-2xl mb-10 flex flex-col items-center justify-center mt-16">
  
  <!-- Redes sociales -->
  <div class="mt-6 w-full flex flex-col items-center">
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
      Contacto
    </h2>
    <SocialLinks />
  </div>

  <!-- Información de derechos reservados -->
  <div class="w-full flex justify-center mt-8">
    <span class="text-sm text-center text-zinc-800/90 dark:text-zinc-200/90">
      © {currentYear} Daniel Villeda. Todos los derechos reservados.
    </span>
  </div>

</footer>
