<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] ">
  
  
    <!-- Menú de navegación -->
    <nav aria-label="Menú principal">
      <ul class="flex space-x-6">
        <li><a href="#top" class="nav-link">Inicio</a></li>
        <li><a href="#sobre-mi" class="nav-link">Sobre Mi</a></li>
        <li><a href="#experiencia" class="nav-link">Experiencia</a></li>
        <li><a href="#proyectos" class="nav-link">Proyectos</a></li>
        <li><a href="#contacto" class="nav-link">Contacto</a></li>
      </ul>
    </nav>
  </header>
  